{% extends 'workflow/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Home{% endblock %}
{% block links %}
<link href="{% static 'call_center_project/css/main/base.css' %}" rel="stylesheet">
<link href="{% static 'workflow/css/base.css' %}" rel="stylesheet">
{% endblock %}
{% block main %}
<div class="row">
    <div class="container col-lg-10 mx-auto">
        <form data-bitwarden-watching="1" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="py-md-4">
                <button class="w-100 btn btn-lg btn-outline-dark" type="submit">Create</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}