{% extends 'call_center_project/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Call-center{% endblock %}
{% block links %}
<link href="{% static 'call_center_project/css/main/base.css' %}" rel="stylesheet">
<link href="{% static 'call_center_project/css/workflow/base.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">
        {% if user.tenant_company %}
        {{ user.tenant_company.title }}
        {% else %}
        Unactive account
        {% endif %}
    </a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="/accounts/logout/">Log out</a>
        </li>
    </ul>
</header>
<div class="container-fluid">
    <div class="row">
        <nav id='sidebarMenu' class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse text-break">
            <div class="position-sticky pt-3">
                <a href="/" class="d-flex mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                    <span class="fs-4">Workflow</span>
                </a>
                <hr>
                {% block nav_item %}
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a href="#" class="nav-link text-white {% if user.tenant_company %}{{ "a" }}{% endif %}"
                            aria-current="page">
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#home"></use>
                            </svg>
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-white {% if user.tenant_company %}{{ "a" }}{% endif %}">
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#speedometer2"></use>
                            </svg>
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-white {% if user.tenant_company %}{{ "a" }}{% endif %}">
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#table"></use>
                            </svg>
                            Orders
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-white {% if user.tenant_company %}{{ "a" }}{% endif %}">
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#grid"></use>
                            </svg>
                            Products
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-white {% if user.tenant_company %}{{ "a" }}{% endif %}">
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#people-circle"></use>
                            </svg>
                            Customers
                        </a>
                    </li>
                </ul>
                {% endblock %}
                {% block nav_user_dropdown %}
                <div class="dropdown p-3">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none" id="dropdownUser"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                        <strong>{{ user.username }}</strong>
                    </a>
                    {% block nav_user_dropdown_menu %}
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser">
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                    {% endblock %}
                </div>
                {% endblock %}
            </div>
        </nav>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            {% block main %}
            {% endblock %}
            <footer class="main-footer d-flex flex-wrap justify-content-between align-items-center py-3 border-top">
                <div class="col-md-4 d-flex align-items-center">
                    <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                        <img src="{% static 'call_center_project/images/logo_min.svg' %}" class="bi me-2" width="32"
                            height="32" alt="..." xmlns="http://www.w3.org/2000/svg" role="img"
                            aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false">
                    </a>
                    <span class="mb-3 mb-md-0 text-muted">© 2022 Dmytro Vynohradov</span>
                </div>

                <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                    <li class="ms-3"><a class="text-muted" href="#">
                            <i class="bi bi-linkedin"></i>
                        </a></li>
                    <li class="ms-3"><a class="text-muted" href="#">
                            <i class="bi bi-telegram"></i>
                        </a></li>
                    <li class="ms-3"><a class="text-muted" href="#">
                            <i class="bi bi-github"></i>
                        </a></li>
                </ul>
            </footer>
        </main>
    </div>
</div>
{% endblock %}